<%# <h1>Guests#new</h1> %>
<h1>New Guest Sign Up</h1>
    <%= form_for @guest do |f| %>
        Name: <%= f.text_field :name %> </br>
        Email: <%= f.text_field :email %> </br>
        Password: <%= f.password_field :password %> </br>
        <%# add pass confirm %>
        Money: <%= f.number_field :money %> </br>
        Admin: <%= f.check_box :admin %> </br>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= f.submit "Register Guest" %>
<% end %>
