<h1><%= @guest.name %> Show Page</h1> </br>
<h3><%= link_to "Edit Guest", edit_guest_path(@guest) %></h3> </br>

Name: <%= @guest.name %> </br>
Email: <%= @guest.email %> </br>
Money: <%= @guest.money %> </br>

<h3>Festivals</h3>
<% if flash[:notice] %>
    <h2><%= flash[:notice] %></h2>
<% end %>
<ul>
    <% @tickets.each do |t| %>
        <% if t.guest_id == current_user.id %>
            <li><%= link_to "#{t.festival.name}",  festival_path(t.festival_id) %></li>
        <% end %>
    <% end %>
</ul>

