<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
<% end %>

<h1><%= @guest.name %> Show Page</h1> </br>
<h3><%= link_to "Edit Guest", edit_guest_path(@guest) %></h3> </br>

Name: <%= @guest.name %> </br>
Email: <%= @guest.email %> </br>
Money: <%= @guest.money %> </br>



