<%# <h1>Trucks#edit</h1> %>
<h1>Edit Truck</h1>
    <%= form_for @truck do |f| %>
        Name: <%= f.text_field :name %> </br>
    <%= f.submit "Update Truck" %>
<% end %>

<%= form_tag @truck, method: "delete", data: { confirm: "Really?" } do %>
  <%= submit_tag "Delete #{@truck.name}" %>
<% end %>