<%# <h1>Trucks#show</h1> %>
<h1><%= @truck.name %> Show Page</h1></br>

<%= link_to "Edit Truck", edit_truck_path(@truck) %> </br>


<%# list food items %>

<h2>Food Menu</h2>
<ul>
    <% @truck.foods.each do |t| %>
        <li>  
            <%= link_to "#{t.name}", truck_food_path(t.id) %> 
        </li>
    <% end %>
</ul>


<h3><%= link_to "New Food", new_truck_food_path(@truck.id) %> </h3>



<%#    <%= form_tag '/food', method: :post do %>
<%#        <%= hidden_field_tag :truck_id, @truck.id %>
<%#        <%= submit_tag "Purchase item" %>
<%#    <% end %>



