<%# <h1>Trucks#show</h1> %>
<h1><%= @truck.name %> Show Page</h1>

<%# list food items %>

<h2>Food Items</h2>
<ul>
    <% @truck.foods.each do |t| %>
        <li>  
            <%= "#{t.name}" %> 
        </li>
    <% end %>
</ul>

<h3>New Food </h3>
    <%= form_for ([@truck, @food]) do |f| %>
        Name: <%= f.text_field :name %> </br>
        Description: <%= f.text_area :description %> </br>
        Price: <%= f.number_field :price %> </br>
        Beverage?: <%= f.check_box :beverage %> </br>
        Food Festival: <%= f.select :festival_id, options_from_collection_for_select(Festival.all, :id, :name)%> </br>
        <%= f.hidden_field :truck_id, :value => @truck.id %> </br>

    <%= f.submit "Register Food" %>

<% end %>

    <%= form_tag '/food', method: :post do %>
        <%= hidden_field_tag :truck_id, @truck.id %>
        <%= submit_tag "Purchase item" %>
    <% end %>


    <%= link_to "Edit Truck", edit_truck_path(@truck) %> </br>

