<%# <h1>Trucks#show</h1> %>
<h1><%= @truck.name %> can be found at <%= link_to "#{@truck.festival.name}", @truck.festival %>  </h1>

<h3><%= link_to "Edit Truck", edit_truck_path(@truck) %> </h3> 

<%# list food items %>
<h3><%= link_to "New Food", new_truck_food_path(@truck.id) %> </h3>

<h2>Food Menu</h2>
<ul>
    <% @truck.foods.each do |f| %>
        <% if f.beverage == false %>
            <li>  
                <%= link_to "#{f.name}", truck_food_path(@truck, f)  %> 
            </li>
        <% end %>
    <% end %>
</ul>
<h2>Drink Menu</h2>
<ul>
    <% @truck.foods.each do |f| %>
        <% if f.beverage == true %>
            <li>  
                <%= link_to "#{f.name}", truck_food_path(@truck, f) %> 
            </li>
        <% end %>
    <% end %>
</ul>


