<%# <h1>Static#homepage</h1> %>
<h1>Homepage</h1>
<% if current_user %>
  <%= link_to "Your Profile", guest_path(current_user.id) %>
  <%= link_to "Log Out", '/logout' %>
<% else %>
  <%= link_to "Sign Up", new_guest_path %>
  <%= link_to "Log In", '/login' %>
<% end %>  

<p><%= link_to "Festivals", festivals_path %></p>

