<%# <h1>Foods#new</h1> %>
<h1>New Food </h1>

    <%= form_for ([@truck, @food]) do |f| %>
        Name: <%= f.text_field :name %> </br>
        Description: <%= f.text_area :description %> </br>
        Price: <%= f.number_field :price %> </br>
        Beverage?: <%= f.check_box :beverage %> </br>
        Food Festival: <%= f.select :festival_id, options_from_collection_for_select(Festival.all, :id, :name)%> </br>
        <%= f.hidden_field :truck_id, :value => @truck.id %> </br>

    <%= f.submit "Register Food" %>

<% end %>