<%# <h1>Foods#new</h1> %>
<h1>New Food for <%="#{@truck.name}"%></h1>
    <%= form_for [@truck, @food] do |f| %>
        Name: </br><%= f.text_field :name %> </br>
        Description: </br><%= f.text_area :description %> </br>
        Price: </br><%= f.number_field :price %> </br>
        Beverage?: <%= f.check_box :beverage %> </br>
        <%# Food Festival: <%= f.select :festival_id, options_from_collection_for_select(Festival.all, :id, :name)%> </br>
        <%= f.hidden_field :truck_id, :value => @truck.id %> 

    <%= f.submit "Register Food" %>
    <% end %>