<%# <h1>Foods#new</h1> %>
<h1>New Food </h1>

    <%= form_for ([@truck, @food]) do |f| %>

        Name: <%= f.text_field :name %> </br>
        Money: <%= f.number_field :money %> </br>
        Food Festival: <%= f.select :festival_id, options_from_collection_for_select(Festival.all, :id, :name)%> </br>

    <%= f.submit "Register Food Truck" %>
<% end %>