<%# <h1>Foods#show</h1> %>

<h1><%= @food.name %> Info Page</h1>

Name: <%= @food.name %> </br>
Description: <%= @food.description %> </br>
Pirce: <%= @food.price %> </br>


<%= link_to "Back to Truck", @truck %>

