<%# <h1>Festivals#new</h1> %>
<h1>New Festival Sign Up</h1>
    <%= form_for @festival do |f| %>
        Name: <%= f.text_field :name %> </br>
        Location: <%= f.text_field :location %> </br>
        Date: <%= f.date_select :hours %> </br>
        Time: <%= f.time_select :hours, :igmore_date => true %> </br>
       <% binding.pry %>
    <%= f.submit "Register Festival" %>
<% end %>
