<%# <h1>Festivals#show</h1> %>

<h1><%= @festival.name %> Show Page</h1>

Name: <%= @festival.name %> </br>
Location: <%= @festival.location %> </br>
Time: <%= @festival.hours %> </br>

<h3>Food Trucks</h3>
<ul>
    <% @festival.trucks.each do |t| %>
      <li><%= link_to "#{t.name}",  truck_path(t.id) %></li>
    <% end %>
</ul>

<h3>Guests</h3>
<% if !current_user %>
  <%= link_to "Sign Up", new_guest_path %>
<% end %>  
<ul>
    <% @festival.guests.each do |g| %>
      <li><%= link_to "#{g.name}",  guest_path(g.id) %></li>
    <% end %>
</ul>
