<%# <h1>Festivals#show</h1> %>
<ul>
    <% @festival.trucks.each do |f| %>
      <li><%= link_to "#{f.name}",  truck_path(f.id) %></li>
      <% end %>
</ul>

<h1><%= @festival.name %> Show Page</h1>

Name: <%= @festival.name %> </br>
Location: <%= @festival.location %> </br>
Time: <%= @festival.hours %> </br>


<% binding.pry %>