<%# <h1>Festivals#show</h1> %>

<h1><%= @festival.name %> Info Page</h1>
<h3><%= link_to "Back to Festivals", festivals_path %></h3>

Name: <%= @festival.name %> </br>
Location: <%= @festival.location %> </br>
Date: <%= @festival.hours.strftime("%B %d %Y") %> </br>
Time: <%= @festival.hours.strftime("%r") %> </br>


<h2>Food Trucks</h2>
<%= link_to "New Truck", new_truck_path %>

<ul>
    <% @festival.trucks.each do |t| %>
      <li><%= link_to "#{t.name}",  truck_path(t.id) %></li>
    <% end %>
</ul>


<%= form_tag '/buy_ticket', method: :post do %>
    <%= hidden_field_tag :festival_id, @festival.id %>
    <%= submit_tag "Get a Ticket for this Festival" %>
<% end %>
